
/* Contenedor principal */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Cambiado a fondo blanco */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; /* Fuente predeterminada */
}

/* Título del recibo */
h1 {
    text-align: center;
    color: #007bff; /* Color azul similar a enlaces */
}

/* Estilo para los campos de entrada */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333; /* Color de texto más oscuro */
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Tamaño de fuente aumentado */
}

/* Estilo para el botón de enviar */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px; /* Tamaño de fuente aumentado */
}

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

/* Estilo para la imagen del logo */
img.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* Centrar la imagen */
}
